/* =========================================
   HERO
========================================= */

.case-studies-hero {
  position: relative;

  min-height: 650px;

  display: flex;
  align-items: center;

  background: #f7f7f5;

  overflow: hidden;
}


/* =========================================
   GRID
========================================= */

.case-studies-hero-grid {
  position: absolute;

  inset: 0;

  pointer-events: none;

  background-image:
    linear-gradient(
      to right,
      rgba(17, 17, 17, 0.09) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(17   , 17, 17, 0.09) 1px,
      transparent 1px
    );

  background-size: 72px 72px;

  mask-image:
    linear-gradient(
      to bottom,
      transparent 0%,
      black 16%,
      black 78%,
      transparent 100%
    );

  -webkit-mask-image:
    linear-gradient(
      to bottom,
      transparent 0%,
      black 16%,
      black 78%,
      transparent 100%
    );
}


/* =========================================
   INNER
========================================= */

.case-studies-hero-inner {
  position: relative;

  z-index: 2;

  width: min(1380px, calc(100% - 12vw));

  margin: 0 auto;

  padding: 70px 0 55px;
  /* background: rgb(159, 225, 7); */
}


/* =========================================
   META
========================================= */

.case-studies-hero-meta {
  display: flex;

  align-items: center;

  gap: 13px;

  margin-bottom: 38px;

  color: #777777;

  font-size: 9px;

  font-weight: 700;

  letter-spacing: 0.22em;
}

.case-studies-hero-meta span {
  color: #777777;
  font-size: 10px;
  font-weight: 900;
}

.case-studies-hero-line {
  width: 32px;
  height: 2px;

  background: #bdbdbd;
}


/* =========================================
   CONTENT
========================================= */

.case-studies-hero-content {
  display: flex;

  align-items: flex-end;

  justify-content: space-between;

  gap: 50px;
}


/* =========================================
   TITLE
========================================= */

.case-studies-hero-title-wrap {
  max-width: 950px;
}

.case-studies-hero h1 {
  margin: 0;

  font-family:
    Arial,
    "Helvetica Neue",
    Helvetica,
    sans-serif;

  font-size: clamp(65px, 8vw, 125px);

  font-weight: 800;

  line-height: 0.88;

  letter-spacing: -0.075em;

  color: #111111;
}

.case-studies-hero h1 span {
  color: #8c8c8c;
}

.case-studies-hero p {
  max-width: 610px;

  margin: 35px 12px 0;

  color: #666666;

  font-size: 15px;

  line-height: 1.7;
}


/* =========================================
   INDEX
========================================= */

.case-studies-hero-index {
  display: flex;

  align-items: center;

  gap: 8px;

  padding-bottom: 12px;

  color: #a0a0a0;

  font-size: 10px;

  font-weight: 700;

  letter-spacing: 0.15em;

  white-space: nowrap;
}

.case-studies-hero-index span:first-child {
  color: #111111;
}


/* =========================================
   BOTTOM
========================================= */

.case-studies-hero-bottom {
  display: flex;

  align-items: center;

  gap: 13px;

  margin-top: 100px;

  color: #888888;

  font-size: 8px;

  font-weight: 700;

  letter-spacing: 0.2em;
}

.case-studies-scroll-line {
  width: 55px;
  height: 1px;

  background: #c5c5c5;
}


/* =========================================
   TABLET
========================================= */

@media (max-width: 900px) {
  .case-studies-hero {
    min-height: 590px;
  }

  .case-studies-hero-inner {
    width: calc(100% - 70px);

    padding-top: 105px;
  }

  .case-studies-hero-content {
    display: block;
  }

  .case-studies-hero-index {
    margin-top: 30px;
  }

  .case-studies-hero-bottom {
    margin-top: 70px;
  }
}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 650px) {
  .case-studies-hero {
    min-height: 600px;
  }

  .case-studies-hero-grid {
    background-size: 48px 48px;
  }

  .case-studies-hero-inner {
    width: calc(100% - 40px);

    padding: 100px 0 40px;
  }

  .case-studies-hero-meta {
    margin-bottom: 30px;

    font-size: 7px;
  }

  .case-studies-hero h1 {
    font-size: clamp(52px, 15vw, 78px);

    letter-spacing: -0.065em;
  }

  .case-studies-hero p {
    margin-top: 25px;

    font-size: 12px;
  }

  .case-studies-hero-bottom {
    margin-top: 60px;

    font-size: 7px;
  }
}